$breadcrumb-nav-color: #585858;
$breadcrumb-selected: #261e1e;
$breadcrumb-hover-color: rgba(38, 30, 30, 0.04);
$horizontal-line: #e0e0e0;
$product-card-text: rgba(0, 0, 0, 0.87);

%align-item-center {
  align-items: center;
}

@mixin flx($property, $jty-cnt) {
  display: flex;
  #{$property}: $jty-cnt;
}

@mixin for-phone-only {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@function calculateRem($size) {
  @return $size / 16px * 1rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

.main__content {
  padding: 0 16px;
  max-width: 1150px;
  margin: 160px auto 0;
}

.main__title-collection {
  @include fontSize(22px);
  font-weight: 300;
  line-height: 1.167;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;

  @media screen and (min-width: $break-nav-layout) {
    display: none;
  }
}

.breadcrumbs {
  &__list {
    @include flx(justify-content, flex-start);
    padding: 14px 0;
    border-bottom: 1px solid $horizontal-line;

    li {
      padding: 0 4px;
      color: $breadcrumb-selected;
      font-family: Arboria, sans-serif;
      font-weight: 400;
      line-height: 1.5;
      font-size: 0.9rem;

      &:not(:last-child):after {
        content: "/";
        padding-left: 6px;
      }

      &:last-child {
        font-weight: bold;
      }

      a {
        color: $breadcrumb-nav-color;
        text-decoration: none;

        &:hover {
          border-bottom: 1px black solid;
        }
      }
    }
  }

  @media screen and (max-width: $break-nav-layout) {
    display: none;
  }
}

.filters {
  &__list {
    @include flx(justify-content, flex-start);
    border-bottom: 1px solid $horizontal-line;

    li {
      padding: 18px 24px 18px 8px;
      text-transform: uppercase;
      @include fontSize(12px);

      &:hover {
        cursor: pointer;
        background-color: $breadcrumb-hover-color;
      }

      &:after {
        position: absolute;
        content: "";
        background: url("../assets/down-arrow.svg") no-repeat;
        height: 18px;
        width: 18px;
        background-size: 12px;
        margin-left: 8px;
      }
    }
  }

  @media screen and (max-width: $break-nav-layout) {
    display: none;
  }
}

.products {
  &__list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1rem;

    &-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $product-card-text;
      padding-bottom: 14px;

      &--description {
        @include fontSize(11px);
        font-weight: 300;
        line-height: 1.43;
        text-align: center;
        margin-top: 10px;
        min-height: 30px;
        text-transform: uppercase;
      }

      &--price {
        padding: 8px;
        @include fontSize(14px);
        font-weight: 400;
        line-height: 1.5;
        text-decoration: inherit;
      }

      img {
        width: 100%;
      }
    }
    li {
      &:hover {
        cursor: pointer;

        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
          0px 1px 3px 0px rgb(0 0 0 / 12%);
      }
    }
  }
}
